
@{
    ViewBag.Title = "Consult";
}


<h1>Book a consultation with your lecturer</h1>
<br />

<div class="Form">
    <form action="/action_page.php">
        <label for="Form" class="form-label">Your Details:</label>

        <div class="row">
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name:</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="firstName" required>
            </div>

            <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName" required>
            </div>
        </div>

            <div class="Email">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>

            <div class="Comments">
                <label for="comments" class="form-label">Comments:</label>
                <textarea class="form-control" id="comments" name="comments" rows="4" placeholder="Write your comments here..."></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
